* {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #0066ff;
}

#statusbar {
	background-color: #CCC;
	border-bottom: 1px solid #000;
	overflow: hidden;
	width: 100%;
}

#statusbar-user-status {
	float: right;
	width: 50%;
}

#statusbar-user-status > ul {
	list-style-type: none;
	padding: 4px;
	text-align: right;
	vertical-align: middle;
}

#statusbar-user-status > ul > li {
	display: inline;
}

.margin-right-user-status {
	margin-right: 30px;
}

#margin-right-profile-picture {
	margin-right: 4px;
}

#statusbar-flags {
	display: block;
	float: left;
	width: 50%;
}

.flag {
	display: inline-block;
	margin-left: 30px;
	max-width: 32px;
	padding: 4px;
	width: 100%;
}

.margin-left-flag {
	display: inline-block;
	margin-left: 4px;
	max-width: 32px;
	padding: 4px;
	width: 100%;
}

#statusbar-profile-picture {
	border-radius: 50px;
	max-width: 32px;
	vertical-align: middle;
	width: 100%;
}

#shop-title {
	background-color: #264d73;
	border-bottom: 1px solid #000;
	color: #FFF;
	font-size: 48px;
	text-align: center;
}

nav {
	background-color: #8fb4d6;
	border-bottom: 1px solid #000;
}

nav > ul {
	list-style-type: none;
	padding: 4px;
	text-align: center;
}

nav > ul > li {
	display: inline;
	margin: 20px;
}

footer {
	overflow: hidden;
	width: 100%;
}

#site-footer {
	background-color: #264d60;
	border: 1px solid #000;
	display: block;
	list-style-type: none;
	padding: 4px;
	text-align: center;
}

#site-footer > li {
	color: #FFF;
	display: inline;
}

main {
	background-color: #FFF;
	margin: 0 auto;
	max-width: 980px;
	width: 100%;
}

main > h2 {
	margin-top: 16px;
	text-align: center;
	
}

header > h2 {
	margin-top: 16px;
	text-align: center;
}

header > h3 {
	margin-top: 16px;
	text-align: center;
}

header > p {
	margin-bottom: 8px;
	margin-top: 8px;
	text-align: center;
}

form {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
}

fieldset {
	margin-bottom: 10px; 
	padding: 20px;
}

fieldset > h3 {
	text-align: center;
}

input[type=email],
input[type=text],
input[type=number],
input[type=password],
input[type=submit],
select,
textarea,
button {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 8px;
	padding: 8px;
	width: 100%;
}

input[type=file] {
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 8px;
	width: 100%;
}

label {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
}

.links {
	margin-top: 25px;
	margin-bottom: 25px;
	list-style-type: none;
	text-align: center;
}

.name {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 50%;
	
}

.password {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 50%;
}

#price {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 80%;
}

#currency {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 20%;
}

.settings {
	float: left;
	width: 50%;
}

#profile-picture {
	display: block;
	margin: 0 auto 10px auto;
	max-width: 200px;
	width: 100%;
}

.profile-picture-buttons {
	display: block;
	margin: 0 auto;
	width: 42%;
}

.birthdate {
	box-sizing: border-box;
	float:left;
	padding: 2px;
	width: 33.33%
}

#street {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 70%;
}

#street-nr {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 30%;
}

#zip {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 30%;
}

#city {
	box-sizing: border-box;
	float: left;
	padding: 2px;
	width: 70%;
}

#search-table {
	width: 100%;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid #000;
	padding: 4px;
	text-align: left;	
}

#search-image {
	display: block;
	max-width: 200px;
	width: 100%;
}

#delete-profile-picture {
	margin: 0;
	list-style-type: none;
	text-align: center;;
}

@media screen and (max-width: 700px) {
	nav > ul > li {
		display: block;
		margin: 6px;
	}
	
	#statusbar-user-status {
		display: block;
	}
	
	#statusbar-user-status > ul > li {
		display: block;
	}
	
	#statusbar-language {
		display: block;
	}

	.flag {
		display: block;
	}
	
	.margin-left-flag  {
		display: block;
		margin-left: 30px;
	}
	
	#margin-right-profile-picture {
		margin-right: 30px;
	}
	
	#site-footer > li {
		display: block;
		margin: 6px;
	}
	
	.name {
		display: block;
		width: 100%;
	}
	
	.password {
		display: block;
		width: 100%;
	}
	
	#price {
		display: block;
		width: 100%;
	}
	
	#currency {
		display: block;
		width: 100%;
	}
	
	.settings {
		display: block;
		width: 100%;
	}
	
	.birthdate {
		display: block;
		width: 100%;
	}
	
	#street {
		display: block;
		width: 100%;
	}
	
	#street-nr {
		display: block;
		width: 100%;
	}
	
	#zip {
		display: block;
		width: 100%;
	}
	
	#city {
		display: block;
		width: 100%;
	}
}